body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(226, 187, 222);
}

h1 {
  color: rgb(256, 256, 256);
  font-family: "Henny Penny", cursive;
  font-size: 12vw;
  text-align: center;
  padding: 50% 0;
}

h1 a {
  text-decoration: none;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(196, 168, 220);
  overflow: hidden;
  animation: fadeIn 2s;
}

.nav a {
  color: rgb(256, 256, 256);
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 6vw;
  padding: 5px 5px;
}

.nav a:hover {
  color: rgb(226, 187, 222);
}

.nav tr td {
  /* width: 50%; */
  text-align: center;
}

table {
  width: 100%;
  vertical-align: middle;
}

.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* START SCROLL ARROW */

.arrow-down {
  width: 60px;
  height: 40px;
  margin: 0 0 100px -30px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;
}

.arrow-down:hover {
  -webkit-animation-play-state: paused;
}

.left {
  position: absolute;
  height: 10px;
  width: 40px;
  background: white;
  -webkit-transform: rotate(240deg);
  top: 10px;
  left: 10px;
  -webkit-border-radius: 4px;
  -webkit-transform-origin: 5px 50%;
  -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right {
  position: absolute;
  height: 10px;
  width: 40px;
  background: white;
  -webkit-transform: rotate(-60deg);
  top: 10px;
  left: 10px;
  -webkit-border-radius: 4px;
  -webkit-transform-origin: 5px 50%;
  -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
}

@-webkit-keyframes arrow {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 40px;
  }
}

@-webkit-keyframes leftArrow {
  0% {
  }
  100% {
    -webkit-transform: rotate(225deg);
  }
}

@-webkit-keyframes rightArrow {
  0% {
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}

/* END SCROLL ARROW */
